<div class="container">
  <mat-tab-group>
    <mat-tab label="TO DO">
      <button (click)="createEncarrec()" mat-raised-button><mat-icon >fastfood</mat-icon> New meal</button>

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterToDo($event)" placeholder="Ex. ium">
      </mat-form-field>

      <mat-form-field>
        <input matInput  [matDatepicker]="picker" [(ngModel)]="date" (dateChange)="getAllEncarrecs()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>

      <div class="mat-elevation-z8" style="margin: 1%;">

        <table mat-table [dataSource]="this.dataSourceToDo">

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let encarrec">{{encarrec.position}}</td>
          </ng-container>

          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Client/Table </th>
            <td mat-cell *matCellDef="let encarrec">{{encarrec.client}}</td>
          </ng-container>


          <ng-container matColumnDef="hour">
            <th mat-header-cell *matHeaderCellDef> Hour </th>
            <td mat-cell *matCellDef="let encarrec">{{encarrec.hour}}</td>
          </ng-container>

          <ng-container matColumnDef="menjars">
            <th mat-header-cell *matHeaderCellDef> To prepare </th>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" mat-cell *matCellDef="let encarrec" >
              <ul>
                <li *ngFor="let i of generateStringMenjarQuantity(encarrec)">
                  {{i}}
                </li>
              </ul></td>
          </ng-container>


          <ng-container matColumnDef="observations">
            <th mat-header-cell *matHeaderCellDef> Observations </th>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" mat-cell *matCellDef="let encarrec" >{{getObservarions(encarrec.observations)}}</td>
          </ng-container>

          <ng-container matColumnDef="takeaway">
            <th mat-header-cell *matHeaderCellDef> Takeawey </th>
            <td mat-cell *matCellDef="let encarrec"><mat-icon *ngIf="encarrec.takeaway">local_shipping</mat-icon><mat-icon *ngIf="!encarrec.takeaway">local_dining</mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="detail">
            <th mat-header-cell *matHeaderCellDef> Detail </th>
            <td mat-cell *matCellDef="let encarrec"><mat-icon (click)="detail(encarrec)">search</mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let encarrec"><mat-icon (click)="edit(encarrec)">create</mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef=" let encarrec"><mat-icon (click)="delete(encarrec)">delete</mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Visibility </th>
            <td mat-cell *matCellDef=" let encarrec"><mat-icon *ngIf="encarrec.status" (click)="changeStatus(encarrec)">visibility</mat-icon><mat-icon *ngIf="!encarrec.status" (click)="changeStatus(encarrec)">visibility_off</mat-icon></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns ;" class="teams-element-row"></tr>

        </table>

      </div>

    </mat-tab>
    <mat-tab label="DONE">
      <button (click)="createEncarrec()" mat-raised-button><mat-icon >fastfood</mat-icon> New meal</button>

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterDone($event)" placeholder="Ex. ium">
      </mat-form-field>

      <mat-form-field>
        <input matInput  [matDatepicker]="picker2" [(ngModel)]="date" (dateChange)="getAllEncarrecs()">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 ></mat-datepicker>
      </mat-form-field>

      <div class="mat-elevation-z8" style="margin: 1%;">

        <table mat-table [dataSource]="this.dataSourceDone">

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let encarrec">{{encarrec.position}}</td>
          </ng-container>

          <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Client/Table </th>
            <td mat-cell *matCellDef="let encarrec">{{encarrec.client}}</td>
          </ng-container>


          <ng-container matColumnDef="hour">
            <th mat-header-cell *matHeaderCellDef> Hour </th>
            <td mat-cell *matCellDef="let encarrec">{{encarrec.hour}}</td>
          </ng-container>

          <ng-container matColumnDef="menjars">
            <th mat-header-cell *matHeaderCellDef> To prepare </th>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" mat-cell *matCellDef="let encarrec" >
              <ul>
                <li *ngFor="let i of generateStringMenjarQuantity(encarrec)">
                  {{i}}
                </li>
              </ul></td>
          </ng-container>


          <ng-container matColumnDef="observations">
            <th mat-header-cell *matHeaderCellDef> Observations </th>
            <td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis" mat-cell *matCellDef="let encarrec" >{{getObservarions(encarrec.observations)}}</td>
          </ng-container>

          <ng-container matColumnDef="takeaway">
            <th mat-header-cell *matHeaderCellDef> Takeawey </th>
            <td mat-cell *matCellDef="let encarrec"><mat-icon *ngIf="encarrec.takeaway">local_shipping</mat-icon><mat-icon *ngIf="!encarrec.takeaway">local_dining</mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="detail">
            <th mat-header-cell *matHeaderCellDef> Detail </th>
            <td mat-cell *matCellDef="let encarrec"><mat-icon (click)="detail(encarrec)">search</mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let encarrec"><mat-icon (click)="edit(encarrec)">create</mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef=" let encarrec"><mat-icon (click)="delete(encarrec)">delete</mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Visibility </th>
            <td mat-cell *matCellDef=" let encarrec"><mat-icon *ngIf="encarrec.status" (click)="changeStatus(encarrec)">visibility</mat-icon><mat-icon *ngIf="!encarrec.status" (click)="changeStatus(encarrec)">visibility_off</mat-icon></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns ;" class="teams-element-row"></tr>

        </table>

      </div>


    </mat-tab>
  </mat-tab-group>
</div>
