<div style="margin: auto; text-align: center">
  <h3>Do you want delete:</h3>
  <div>
    <mat-form-field appearance="outline" class="cl-input">
      <mat-label>ID</mat-label>
      <input matInput  [disabled]="true" [(ngModel)]="data.id">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="cl-input">
      <mat-label>Client</mat-label>
      <input matInput [disabled]="true" [(ngModel)]="data.client">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="cl-input">
      <mat-label>People</mat-label>
      <input matInput [disabled]="true" [(ngModel)]="data.people">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="cl-input">
      <mat-label>Date</mat-label>
      <input matInput [disabled]="true" [(ngModel)]="date">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="cl-input">
      <mat-label>Hour</mat-label>
      <input matInput [disabled]="true" [(ngModel)]="data.hour">
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>
  <div style="padding-top: 5%">
    <button style="margin-right: 25%" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="delete()">Delete</button>
  </div>
</div>
