 <div style="margin: auto; text-align: center">
   <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate class="example-form">
     <h2 class="title">Register Form</h2>

     <div class="form-group">
       <mat-form-field class="example-full-width">
         <mat-label>Enter your username</mat-label>
         <input matInput placeholder="Username" formControlName="username" required>
         <mat-error *ngIf="!registerForm.value.username.valid">Need username</mat-error>
       </mat-form-field>
     </div>

     <div>
       <mat-form-field class="example-full-width">
         <mat-label>Enter your email</mat-label>
         <input matInput formControlName="email" placeholder="Ex. example@example.com" required>
         <mat-error *ngIf="!registerForm.value.username.valid">Need email</mat-error>
       </mat-form-field>
     </div>
     <div>
       <mat-form-field class="example-full-width">
         <mat-label>Enter your name</mat-label>
         <input matInput placeholder="Username" formControlName="name" required>
         <mat-error *ngIf="!registerForm.value.name.valid">Need name</mat-error>
       </mat-form-field>
     </div>

     <div>
       <mat-form-field class="example-full-width">
         <mat-label>Enter your surname</mat-label>
         <input matInput placeholder="Username" formControlName="surname" required>
         <mat-error *ngIf="!registerForm.value.surname.valid">Need surname</mat-error>
       </mat-form-field>
     </div>

     <div>
       <mat-form-field>
         <mat-label>Roles</mat-label>
         <mat-select formControlName="role" required>
           <mat-option *ngFor="let role of roles" [value]="role">
             {{role}}
           </mat-option>
         </mat-select>
         <mat-error *ngIf="!registerForm.value.role.valid">Need role</mat-error>
       </mat-form-field>
     </div>

     <div style="padding-bottom: 3%">
       <mat-form-field class="example-full-width">
         <mat-label>Enter your password</mat-label>
         <input matInput formControlName="password" type="password" required>
         <mat-error *ngIf="!registerForm.value.password.valid">Required password with length 4 to 256.</mat-error>
       </mat-form-field>
     </div>

     <mat-divider></mat-divider>
      <div style="padding-top: 5%">
        <a style="margin-right: 25%" mat-raised-button color="warn" (click)="dialogRef.close()"> Cancel </a>
        <button mat-raised-button color="primary" type="submit">Register</button>
      </div>
   </form>
 </div>
