<div class="container">
  <form (ngSubmit)="createReserva()" [formGroup]="this.newReserva" novalidate class="example-form">
    <h2 class="title">New Booking</h2>

    <div>
      <mat-form-field style="width: 60%;padding-bottom: 1.5%">
        <mat-label>Enter client name and surname</mat-label>
        <input matInput placeholder="Client name and surname..." type="text" formControlName="client" required>
        <mat-error *ngIf="!newReserva.value.client.valid">Required client between 1 to 64 characters.</mat-error>
      </mat-form-field>
    </div>

    <div >
      <mat-form-field style="width: 60%;padding-bottom: 1.5%">
        <mat-label>Choose a date</mat-label>
        <input matInput  [min]="minDate" [matDatepicker]="picker" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-error *ngIf="!newReserva.value.date.valid">Required date</mat-error>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div >
      <mat-form-field style="width: 60%;padding-bottom: 1.5%">
        <mat-label>Choose a hour</mat-label>
        <input matInput type="time" formControlName="hour" max="23:00" min="12:00" required>
        <mat-error *ngIf="!newReserva.value.hour.valid">Required hour (Lunch: 12:00-15:00, Diner: 20:00-23:00)</mat-error>
      </mat-form-field>
    </div>


    <div *ngIf="this.newReserva.value.inside">
      <mat-form-field style="width: 60%;padding-bottom: 1.5%">
        <mat-label>Choose the people</mat-label>
        <input matInput type="number" formControlName="people" min="1" max="{{this.data.maxPI}}" required>
        <mat-error *ngIf="!newReserva.value.people.valid">Required people between 1 to 64.</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="!this.newReserva.value.inside">
      <mat-form-field style="width: 60%;padding-bottom: 1.5%">
        <mat-label>Choose the people</mat-label>
        <input matInput type="number" formControlName="people" min="1" max="{{this.data.maxPO}}" required>
        <mat-error *ngIf="!newReserva.value.people.valid">Required people between 1 to 64.</mat-error>
      </mat-form-field>
    </div>

    <div style="margin-bottom: 2.5%">
      <mat-slide-toggle *ngIf="newReserva.value.inside" color="primary"  formControlName="inside" >Inside</mat-slide-toggle>
      <mat-slide-toggle *ngIf="!newReserva.value.inside" color="primary"  formControlName="inside" >Outside</mat-slide-toggle>
    </div>

    <mat-divider></mat-divider>

      <div>
        <mat-form-field style="width: 60%;padding-bottom: 1%">
          <mat-label>Mobile</mat-label>
          <input matInput placeholder="Recommended mobile" type="text" formControlName="mobile" >
          <mat-error *ngIf="!newReserva.value.mobile.valid">Recommended mobile.</mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width: 60%;padding-bottom: 1%">
          <mat-label>Enter client email</mat-label>
          <input matInput formControlName="email" placeholder="Ex. example@example.com">
          <mat-error *ngIf="!newReserva.value.email.valid">Recommended email.</mat-error>
        </mat-form-field>
      </div>

      <div >
        <mat-form-field style="width: 80%;padding-bottom: 1%">
          <mat-label>Observations</mat-label>
          <textarea  matInput placeholder="Recommended observations..." type="text" formControlName="observations"></textarea>
          <mat-error *ngIf="!newReserva.value.observations.valid">Recommended observations.</mat-error>
        </mat-form-field>
      </div>

    <mat-divider></mat-divider>

    <div style="padding-top: 5%; margin: auto; text-align: center">
    <a style="margin-right: 25%" mat-raised-button color="warn" (click)="dialogRef.close()"> Cancel </a>
    <button [disabled]="!newReserva.valid" mat-raised-button color="primary" type="submit">Submit</button>
    </div>

  </form>
</div>
