<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon >shopping_cart</mat-icon>
      To Buy
    </ng-template>
    <div>
      <h4 *ngIf="this.dataSource.data.length==0">Nothing to buy...</h4>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          {{node.name}} <mat-checkbox  style="margin-left: 1%" (click)="bought(node.name)"></mat-checkbox>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>
    </div>
    <div>
      <mat-divider style="margin: 1% 0.5%;"></mat-divider>
      <a style="margin-left: 85%" mat-raised-button color="warn" (click)="dialogRef.close()"> Close </a>
    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon >remove_shopping_cart</mat-icon>
      Black List
    </ng-template>
    <div>
      <h4 *ngIf="this.dataSourceBL.data.length==0">Black List is empty...</h4>
      <mat-tree [dataSource]="dataSourceBL" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          {{node.name}}<mat-checkbox  style="margin-left: 1%" (click)="removeFromBL(node.name)"></mat-checkbox>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>
    </div>
    <div>
      <mat-divider style="margin: 1% 0.5%;"></mat-divider>
      <a style="margin-left: 85%" mat-raised-button color="warn" (click)="dialogRef.close()"> Close </a>
    </div>
  </mat-tab>

</mat-tab-group>
