<div class="container">
  <mat-tab-group>
    <mat-tab (click)="getReservasInsite();this.inside=true" label="Inside">
      <div class="tab-information">
        <button (click)="newReserva()" mat-raised-button><mat-icon >book</mat-icon> New book</button>

        <button *ngIf="isDay" (click)="changeIsDay()" mat-raised-button><mat-icon>wb_sunny</mat-icon></button>
        <button *ngIf="!isDay" (click)="changeIsDay()" mat-raised-button><mat-icon>nights_stay</mat-icon></button>

        <div>
          <mat-form-field>
            <input matInput  [matDatepicker]="picker" [(ngModel)]="date" (dateChange)="getReservasInsite()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      {{this.listReservas}}
      {{this.date.toISOString()}}

    </mat-tab>

    <mat-tab label="Outside" (click)="this.inside=false">
      <div class="tab-information">
        Content 2
      </div>

    </mat-tab>

  </mat-tab-group>
</div>
